@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import "tailwindcss";

@theme {
  --color-void: #1E1B21;
  --color-tekhelet: #522888;
  --color-rebeccapurple: #66369D;
  --color-africanviolet: #967BB6;
  --color-frenchgray: #C7C2D6;
  --color-lion: #BF9553;

  --font-robotomono: "Roboto Mono", monospace; 
}

@theme {
  --text-shadow-ostroborea: 0px 0px 25px var(--color-africanviolet);
  --drop-shadow-ostroborea: 0px 0px 10px var(--color-africanviolet); 
}

@layer components {
  .disable-blur{
    image-rendering: -webkit-optimize-contrast;
    image-rendering: -moz-crisp-edges
  }
  .center-line-v{
    background-image: linear-gradient(90deg, rgba(0,0,0,0) calc(50% - 2px), var(--color-lion) 50%, rgba(0,0,0,0) calc(50% + 2px))
  }
  .center-line-h{
    background-image: linear-gradient(180deg, rgba(0,0,0,0) calc(50% - 2px), var(--color-lion) 50%, rgba(0,0,0,0) calc(50% + 2px))
  }
}

@utility no-scrollbar {
  @apply [scrollbar-width:none] [&::-webkit-scrollbar]:hidden;
}

html {
  background: var(--color-void);
  font-family: var(--font-robotomono);
}

*::selection {
  color: var(--color-africanviolet);
}

.title {
  -webkit-text-stroke: 2px var(--color-lion); 
}

/* Project card hover effect */

.project-card {
  position: relative;
  border-radius: 1.5rem;
  overflow: hidden;
}

.project-card::before,
.project-card::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  opacity: 0;
  transition: opacity 500ms;
  pointer-events: none;
}

.project-card::before {
  background: radial-gradient(
    600px circle at var(--mouse-x) var(--mouse-y),
    rgba(255, 255, 255, 0.15),
    transparent 30%
  );
  z-index: 2;
}

.project-card::after {
  background: radial-gradient(
    800px circle at var(--mouse-x) var(--mouse-y),
    rgba(255, 255, 255, 0.4),
    transparent 30%
  );
  z-index: 1;
}

.project-card:hover::before,
.project-card:hover::after {
  opacity: 1;
}

/* noise */

.noise {
  background-image: url("/img/noise.png");
  background-repeat: repeat;
  background-size: 256px 256px;
  opacity: 0.06;
  animation: noiseMove 0.8s steps(1) infinite;
}

@keyframes noiseMove {
  0%   { background-position: 0px 0px; }
  10%  { background-position: 100px -50px; }
  20%  { background-position: -80px 60px; }
  30%  { background-position: 50px 120px; }
  40%  { background-position: -120px -100px; }
  50%  { background-position: 80px 40px; }
  60%  { background-position: -40px 90px; }
  70%  { background-position: 120px -60px; }
  80%  { background-position: -100px 20px; }
  90%  { background-position: 60px -120px; }
  100% { background-position: 0px 0px; }
}